// Re-configure Bootstrap variables - before import
$theme-colors: (
  "dark-green": #070,
  "highlight": #EEF4CD
);

@import "../bootstrap/scss/bootstrap"; 

// My variables
$dark-green: #070;
$text-shadow: 1px 1px 1px grey;

// Main styles

body {
	font-size: 1.2rem;
	background-color: white;
}

#page {
	@extend .container-fluid, .p-4;
}

h1 {
	font-size: 1.8rem;
	color: theme-color("dark-green");
}


h2 {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

p {
	margin: 0;
	padding: 0 0 0.5rem 0;
}

// Constructor elements

.constructed {
	@extend .m-1, .p-2, .rounded;
	&:hover {
		@extend .bg-light;
		cursor: text;
	}
}

.constructed.imgBlock:hover {
	cursor: pointer;
}

h1.constructed {
	@extend .mb-5;
}

h2.constructed {
	@extend .my-4, .pl-5;
}

p.constructed {
	
}

// Form for editing constructed elements
#editForm, #editFormTemp {
	@extend .text-muted, .text-right, .pt-3, .mt-3;
	font-size: 1rem;
	& div {
		cursor: auto;
	}
	& .row {
		@extend  .mb-3;
	}
	& .custom-checkbox {
		@extend .text-left, .my-2;
	}
	& .btn {
		@extend .mt-3, .px-4;
	}
	// Image edit properties
	.custom-file label {
		color: #aaa ;
	}
	#imgSize {
		max-width: 200px;
		min-width: 100px;
		margin-right: 0;
		margin-left: auto;
	}
	.imgButtons {
		@extend .pt-3;
	}
}

// Form containing button to create a new element
.create-element {
	@extend .text-center, .mt-3;
	clear: both;

	.btn {
		font-size: 1.4rem;
	}

	label {
		@extend .px-3;
	}
}

// Button to view the result, now inactive
#finalPage {
	@extend .container-fluid, .p-3, .my-3; 
	font-size: 1.8rem;
}

// Modal for removing a constructed element
#modalRemove .modal-header {
	@extend .bg-danger, .text-white, .text-center;
	font-size: 1.6rem;
}

@include media-breakpoint-down(xs) {
	.imgSize {
		display: none;
	}
}